:host {
  .currency-form, .controls, .submit-button {
    display: flex;
  }

  .controls {
    display: flex;
    flex: 1 1 100%;
    margin-right: 20px;

    select {
      width: 100%;
      padding: 7px 15px;
      appearance: none;
    }
  }

  .submit-button-wrap {
    display: flex;
    flex: 0 0 auto;

    .submit-button {
      padding: 7px 15px;
    }
  }

}
