:host {
  .data-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .data-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      .label {
        font-size: 14px;
        margin-bottom: 3px;
      }
    }
  }
}
